.container {
    padding: 0 5vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 1.5rem;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.headerText {
    color: #737373;
}

.fileIcon {
    background-color: antiquewhite;
    padding: 0.5rem;
    border-radius: 16px;
    & svg {
        height: 40px;
        width: auto;
    }
}

.excel {
    color: #217346;
    background-color: #e6f4ea;
    box-shadow: 0 0 5px rgba(33, 115, 70, 0.5);
}

.csv {
    color: #207398;
    background-color: #e6f0f4;
    box-shadow: 0 0 5px rgba(32, 115, 152, 0.5);
}

.subtitle {
    color: black;
    margin: 0.5rem 0;
}

.summaryText,
.metadata > p {
    color: #4f4f4f;
}

.summary,
.metadata,
.header {
    padding: 1rem 1.5rem;
    background-color: #f9f9f9;
    border-radius: 16px;
    margin-top: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
    .header {
        overflow: hidden;
    }

    .headerNames {
        font-size: 0.85rem;
    }

    .fileIcon {
        display: none;
    }
}

@media screen and (max-width: 472px) {
    .headerNames {
        font-size: 0.55rem;
    }

    .subtitle {
        font-size: 1rem;
    }

    .summary,
    .metadata {
        & p {
            font-size: 0.75rem;
        }
    }
}
